body{
    background-color: purple;
    color : white;
    font-size: x-large;
}

input{
    font-size: large;
}

button{
font-size: large;
color : purple;
background-color: black;
}

h1{
    text-align: center;
}

.input-field{
    text-align: center;
    justify-content: center;
}

.note-div{
    background-color: white;
    color : purple
}

.todo-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    padding: 20px 20px;
}

.todo-list{
    margin-top: 20px;
    padding: 10px 10px;
}

.todo-item{
    justify-content: center;
     margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    padding: 5px 5px
  
}